[?25l[?2004h

                                                                                                                
  >  1. ufpnkdtycawaswjaccpo [name: Rekht's Project, org: vykchxjmkqisqyfwymzm, region: ap-southeast-2]         
    2. eczsahwtdttogvtvjfup [name: Talent Match Intelligence, org: vykchxjmkqisqyfwymzm, region: ap-southeast-1]
                                                                                                                
                                                                                                                
                                                                                                                
                                                                                                                
    Γåæ/k up ΓÇó Γåô/j down ΓÇó / filter ΓÇó q quit ΓÇó ? more                                                              
                                                                                                                
[9A [J
[2K
[?2004l[?25h[?1002l[?1003l[?1006lCREATE TABLE employee_talent_match AS
WITH 

-- STEP 1 ΓÇö Identify Benchmark Employees (rating = 5)
-- These employees define the "ideal" talent profiles.
benchmark_employees AS (
  SELECT DISTINCT e.employee_id
  FROM performance_yearly p
  JOIN employees e ON e.employee_id = p.employee_id
  WHERE p.rating = 5
),

-- STEP 2 ΓÇö Consolidate All Talent Variables (TV)
-- Collect all measurable variables (IQ, PAPI, competencies, strengths)
-- into a single unified structure.
employee_tv_scores AS (
  SELECT employee_id, 'iq' AS tv_name, iq::numeric AS score FROM profiles_psych WHERE iq IS NOT NULL
  UNION ALL
  SELECT employee_id, 'pauli', pauli::numeric FROM profiles_psych WHERE pauli IS NOT NULL
  UNION ALL
  SELECT employee_id, 'gtq', gtq::numeric FROM profiles_psych WHERE gtq IS NOT NULL
  UNION ALL
  SELECT employee_id, scale_code AS tv_name, score::numeric FROM papi_scores
  UNION ALL
  SELECT employee_id, ('pillar_' || pillar_code) AS tv_name, score::numeric FROM competencies_yearly
  UNION ALL
  SELECT employee_id, theme AS tv_name, rank::numeric FROM strengths
),

-- STEP 3 ΓÇö Compute Benchmark Median per TV
-- Calculate the median score (baseline) of benchmark employees for each TV.
-- Median is used to reduce sensitivity to outliers.
tv_baseline AS (
  SELECT 
    tv_name,
    PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY score) AS baseline_score
  FROM employee_tv_scores
  WHERE employee_id IN (SELECT employee_id FROM benchmark_employees)
  GROUP BY tv_name
),

-- STEP 4 ΓÇö Calculate TV Match Rate
-- Compare each employee's score against the benchmark baseline.
-- Apply reverse logic for Papi_Z and Papi_K.
-- Clamp results to the 0ΓÇô100 range for consistency.
tv_match AS (
  SELECT 
    e.employee_id,
    t."Talent Group Variable (TGV)" AS tgv_name,
    s.tv_name,
    b.baseline_score,
    s.score AS user_score,
    CASE 
      WHEN b.baseline_score IS NULL OR b.baseline_score = 0 THEN NULL
      -- Reverse scale (lower is better): Papi_Z, Papi_K
      WHEN UPPER(s.tv_name) IN ('PAPI_Z','PAPI_K') THEN
        GREATEST(0, LEAST(100, (b.baseline_score / NULLIF(s.score,0)) * 100))
      -- Normal scale (higher is better)
      ELSE
        GREATEST(0, LEAST(100, (s.score / NULLIF(b.baseline_score,0)) * 100))
    END AS tv_match_rate
  FROM employee_tv_scores s
  JOIN "tv_tgv" t
    ON UPPER(s.tv_name) = UPPER(t."Test as Talent Variable (TV)")
  LEFT JOIN tv_baseline b
    ON s.tv_name = b.tv_name
  JOIN employees e
    ON e.employee_id = s.employee_id
),

-- STEP 5 ΓÇö Aggregate to TGV Level
-- Compute the average TV match rate per Talent Group Variable.
tgv_match AS (
  SELECT
    employee_id,
    tgv_name,
    ROUND(AVG(tv_match_rate)::numeric, 2) AS tgv_match_rate
  FROM tv_match
  GROUP BY employee_id, tgv_name
),

-- STEP 6 ΓÇö Compute Final Overall Match Rate
-- Average all TGVs to get the overall alignment score per employee.
-- Ensure values remain within 0ΓÇô100 range.
final_match AS (
  SELECT
    employee_id,
    ROUND(LEAST(GREATEST(AVG(tgv_match_rate),0),100),2) AS final_match_rate
  FROM tgv_match
  GROUP BY employee_id
)

-- STEP 7 ΓÇö Produce Final Output (no fullname)
-- Combine TV, TGV, and Final Match levels with organizational context.
SELECT 
  e.employee_id,
  d.name AS directorate,
  p.name AS role,
  g.name AS grade,
  tm.tgv_name,
  tm.tv_name,
  ROUND(tm.user_score::numeric,2) AS user_score,
  ROUND(tm.baseline_score::numeric,2) AS baseline_score,
  ROUND(tm.tv_match_rate::numeric,2) AS tv_match_rate,
  ROUND(tg.tgv_match_rate::numeric,2) AS tgv_match_rate,
  ROUND(f.final_match_rate::numeric,2) AS final_match_rate
FROM tv_match tm
JOIN tgv_match tg 
  ON tm.employee_id = tg.employee_id AND tm.tgv_name = tg.tgv_name
JOIN final_match f 
  ON tm.employee_id = f.employee_id
JOIN employees e 
  ON e.employee_id = tm.employee_id
LEFT JOIN dim_directorates d 
  ON e.directorate_id = d.directorate_id
LEFT JOIN dim_grades g 
  ON e.grade_id = g.grade_id
LEFT JOIN dim_positions p 
  ON e.position_id = p.position_id
ORDER BY f.final_match_rate DESC, e.employee_id;

